<footer class="text-center">
      <div>
          <p>&copy; 2019 - Piotr Duperas - <a href="https://hackercats.pl">Hackercats.pl</a></p>
      </div>        
 </footer>
	<script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
	
	<script src="https://unpkg.com/bootstrap-table@1.13.5/dist/bootstrap-table.min.js"></script>
	<script>
KEY = '<%= req.key %>';

	</script>
	<script src="./script.js"></script>
</body>
</html> 